* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #bfd7e4;
  font-family: "Staatliches", cursive;
}

body::before {
  content: "";
  width: 100%;
  height: 465px;
  background: #293241;
  position: absolute;
  top: 0;
  margin: 0;
  z-index: -1;
}

.page {
  width: 750px;
  margin: auto;
}

header {
  width: 391px;
  margin: 107px auto 32px;
  text-align: center;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
}

p,
label,
.div-feedback-text {
  font-family: "Poppins";
}

p {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 19px;
}

.legend {
  padding: 50px 275px;
  border-radius: 20px 20px 0 0;
  height: 133px;
  background: #f67669;
}

.legend legend {
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
}

form {
  border-radius: 0px 0px 20px 20px;
  padding: 32px 64px 64px 64px;
  background: #ffffff;
}

fieldset {
  border: none;
}

.wrapper-name {
  display: flex;
  justify-content: space-between;
}

.box-name {
  display: flex;
  flex-direction: column;
}

.input-length {
  width: 300px;
  height: 55px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper input {
  height: 55px;
  margin-bottom: 32px;
}

.wrapper-name label {
  margin-bottom: 8px;
}

.wrapper-name input {
  margin-bottom: 16px;
}

.input-wrapper label {
  margin-bottom: 8px;
}

span {
  font-size: 12px;
  line-height: 20px;
  color: #c1bccc;
  margin-left: 8px;
}

fieldset .legend-2 {
  font-size: 24px;
  line-height: 34px;
  color: #253b51;
  text-align: center;
  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

.input-mentor {
  width: 50%;
}

textarea {
  height: 176px;
  margin: 8px 0 32px 0;
}

.input-wrapper-checkbox {
  position: relative;
  margin-bottom: 36px;
}

.input-wrapper-checkbox label {
  align-items: center;
  display: flex;
  gap: 8px;
}

.input-wrapper-checkbox input {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0;
}

.input-wrapper-checkbox label::before {
  content: "";
  width: 24px;
  height: 24px;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  display: block;
}

.input-wrapper-checkbox input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.input-wrapper-checkbox input:focus + label::before {
  outline: 2px solid black;
}

.legend-3 {
  font-size: 24px;
  line-height: 34px;
  color: #253b51;
  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 8px;
  margin-bottom: 32px;
  text-align: center;
}

.col-time {
  display: flex;
  margin-bottom: 32px;
}

.col-time > div:nth-child(1) {
  width: 300px;
}

.col-time > div:nth-child(2) {
  width: 140px;
  margin-left: 32px;
}

.col-time > div:nth-child(3) {
  width: 140px;
  margin-left: 10px;
}

#input-submit-form {
  font-family: "Staatliches", cursive;
  padding: 13px 286px;
  background: #f67669;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  line-height: 26px;
}

input,
textarea {
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  padding: 10px;
}

#input-submit-form:hover {
  background: #d55043;
}
